﻿@model CountriesApp.ViewModels.CountriesViewModel
@{
    ViewData["Title"] = "Home Page";
}
<hr />
<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <div class="panel panel-info">
            <div class="panel-heading">Countries</div>
            <div class="panel-body">
                <ul>
                    @foreach (var country in Model.CountriesSummaries)
                    {
                        <li>
                            <a href="#" onclick="showCountryDetail('@country.Code')">
                                <img src="@String.Format("http://www.geognos.com/api/en/countries/flag/{0}.png", country.Code)" class="flag-sm" /> @country.Name
                            </a>
                        </li>
                    }
                </ul>
            </div>
            <div class="panel-footer">
                <div class="pull-right">
                    <button class="btn btn-success btn-sm" onclick="showNewCountryModal()"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> NEW</button>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-8 col-lg-9">
        <div class="panel panel-primary">
            <div class="panel-heading">Country Details</div>
            <div class="panel-body">
                <div id="country-details"></div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="add-country-modal">
    <div id="add-country-form"></div>
</div>

