﻿@model CountriesApp.ViewModels.CountryViewModel

<form asp-controller="Home" asp-action="AddCountry" method="post">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Add new country</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="Code">Country Code</label>
                    <input asp-for="Code" class="form-control" placeholder="Code">
                </div>
                <div class="form-group">
                    <label for="Name">Country Name</label>
                    <input asp-for="Name" class="form-control" placeholder="Name">
                </div>
                <div class="form-group">
                    <label for="Capital">Country Capital</label>
                    <input asp-for="Capital" class="form-control" placeholder="Capital">
                </div>
            </div>
            <div class="modal-footer">
                <button type="reset" class="btn" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</form>