﻿@model CountriesApp.ViewModels.CountryViewModel

<h3><img src="@String.Format("http://www.geognos.com/api/en/countries/flag/{0}.png", Model.Code)" class="flag-lg" /> @Model.Name</h3>
<ul>
    <li><span>Capital:</span> <b>@Model.Capital</b></li>
</ul>
